Codes/2.Machine_Learning(IBM_Cloud)/1.Custom_Model_User_Interface(Node_Red)/Exported-Node-Red-Flow.json
[{"id":"c0556a6d.806248","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16eb512f.ea0e7f","type":"function","z":"c0556a6d.806248","name":"PreToken","func":"var token=msg.payload.token\nvar fname = msg.payload.name;\nif(fname == \"Civic\")\n{\n    global.set(\"name\",0)\n}\nelse if(fname == \"Florey\")\n{\n    global.set(\"name\",1)\n}\nelse\n{\n    global.set(\"name\",2)\n}\nglobal.set(\"pmvalue\",msg.payload.pmvalue)\n\nvar apikey=\"rEqfCEOwZ92kyEhLWyjDB7DWSg0fYaWgriOn21XCAd2p\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["d69bc50c.089268"]]},{"id":"d69bc50c.089268","type":"http request","z":"c0556a6d.806248","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["c20ad98.0676428"]]},{"id":"5c64ed38.cbcd34","type":"inject","z":"c0556a6d.806248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["16eb512f.ea0e7f"]]},{"id":"c20ad98.0676428","type":"function","z":"c0556a6d.806248","name":"Pre Prediction","func":"var name = global.get('name')\nvar pmvalue = global.get('pmvalue')\nvar token=msg.payload.access_token\nvar instance_id=\"23a85c54-1304-4715-93a0-2ec64495cd56\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"name\",\"pmvalue\"], \"values\": [[name,pmvalue]]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["7ac385da.e153ac"]]},{"id":"7ac385da.e153ac","type":"http request","z":"c0556a6d.806248","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/23a85c54-1304-4715-93a0-2ec64495cd56/deployments/3d7e5add-d197-49f7-988c-a52cc84f81fb/online","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":140,"wires":[["2e51e51c.c45eca"]]},{"id":"865eabe1.f512d8","type":"ui_form","z":"c0556a6d.806248","name":"","label":"","group":"c4f447e0.5ce6a8","order":1,"width":0,"height":0,"options":[{"label":"Enter the Industry Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter the PM2.5 Value","value":"pmvalue","type":"number","required":true,"rows":null}],"formValue":{"name":"","pmvalue":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":320,"wires":[["16eb512f.ea0e7f"]]},{"id":"2e51e51c.c45eca","type":"function","z":"c0556a6d.806248","name":"","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["9ff87455.25b888","c2015f98.2772b"]]},{"id":"9ff87455.25b888","type":"debug","z":"c0556a6d.806248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":360,"wires":[]},{"id":"c2015f98.2772b","type":"ui_text","z":"c0556a6d.806248","group":"c4f447e0.5ce6a8","order":2,"width":0,"height":0,"name":"","label":"Model Prediction","format":"{{msg.payload}}","layout":"row-center","x":920,"y":200,"wires":[]},{"id":"c4f447e0.5ce6a8","type":"ui_group","z":"","name":"Estimation of Pollution Tax","tab":"b0f80e5a.053a6","disp":true,"width":"6","collapse":false},{"id":"b0f80e5a.053a6","type":"ui_tab","z":"","name":"Exhaust Monitoring System","icon":"dashboard","order":2,"disabled":false,"hidden":false}]